.diode {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: gray;
  display: inline-block;
  transition: background-color 0.3s;
  bottom: 10px;
}

.diode::before {
  content: '';
  position: absolute;
  background-color: red;
  transition: background-color 0.3s;
}

.diode.on {
  background-color: green;
}

@media (orientation: portrait) {
  .diode::before {
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (orientation: landscape) {
  .diode::before {
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0;
  }
}

.diode.on.portrait {
  background-color: blue;
}

.diode.on.landscape {
  background-color: purple;
}
