body {
  background-color: black;
}

#canvas {
  margin: 20px;
  margin-bottom: 0px;
  padding: 20px;
}

#description {
  margin: 20px;
  margin-top: 0px;
  padding: 20px;
  font-size: 18px;
  color: white;
  line-height: 1.6;
  position: absolute;
  top: 700px;
  left: 500px;
}

.description {
  margin: 20px;
  padding: 20px;
  font-size: 18px;
  color: white;
  line-height: 1.6;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.diode-widget {
  text-align: center;
}

.label {
  font-weight: bold;
  margin-bottom: 10px;
}

.diode {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  display: inline-block;
  transition: background-color 0.3s;
}

.diode.on {
  background-color: green;
}
