# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Deploy atari-monk-ball-game-server to Azure

on:
  push:
    branches:
      - main
    paths:
      - "./server/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout only server project
        uses: actions/checkout@v2
        with:
          path: ./server/

      - name: Set up Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: '18.x'
      
      - name: npm install, build, and test
        run: |
          cd ./server
          pwd
          ls -la
          npm install
          npm run build --if-present
          npm run test --if-present
    
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: node-app
          path: ./server