name: Deploy server to Azure
on:
  push:
    branches: ["main"]
    paths:
      - "server/**"
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: atari-monk-ball-game-server
  AZURE_WEBAPP_PACKAGE_PATH: "./server"
  NODE_VERSION: "18.14.0"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"

      - name: Change directory to server
        run: cd ball-game/server

      - name: Install dependencies
        run: npm install

      - name: Build and test
        run: |
          npm run build --if-present
          npm run test --if-present

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: node-app
          path: ball-game/server

  deploy:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: "Development"
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: node-app

      - name: "Deploy to Azure WebApp"
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_BALL_GAME_SERVER }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
